<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
            <Component>
                <File Source="./win-x64/publish/SaveMerger.exe" KeyPath="true">
                    <Shortcut Id="Shortcut" Directory="StartMenuFolder" Name="Celeste Savefile Merger" Advertise="true"
                              Icon="icon.ico">
                    </Shortcut>
                </File>
            </Component>
            <Component>
                <File Source="./win-x64/publish/av_libglesv2.dll"/>
                <File Source="./win-x64/publish/libHarfBuzzSharp.dll"/>
                <File Source="./win-x64/publish/libSkiaSharp.dll"/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
